* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 5rem;
    font-family: sans-serif;
}

.nav-links {
    position: relative;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: end;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* padding: .5rem 2rem; */
    background-color: #FFB16D;
    height: 6ch;
    border-radius: 1rem;
    padding-right: 5rem;
}

.nav-link-item:first-child {
    position: absolute;
    left: -3rem;
    top: -2.4rem;
    background-color: #FDE6D8;
    z-index: 5;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}

.nav-link-item:nth-child(2) {
    display: none;
}

.nav-link-item {
    padding-right: 4rem;
    margin: 1rem;
    font-size: 1.2rem;
}

.nav-link-text {
    color: #420C14;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 600;
}

.nav-link-text img {
    width: 120px;
    height: 130px;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border-top: 0;
}

.darkBg {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #FFB16D;
}

.lightBg {
    background-color: #FDE6D8;
}

.padding {
    padding: 2rem 0;
}

.no-padding {
    padding: 0;
}

h2 {
    color: #420C14;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}

.margin {
    margin: 0 0 2rem 0;
}

h3 {
    text-align: center;
    color: white;
}

p {
    color: #8F5D41;
}

.banner {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;
}

.banner .image {
    height: 100%;
    background: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .2;
}

.main {
    height: 540px;
    display: flex;
    padding: 4rem 8rem;
    justify-content: space-between;
    text-align: justify;
}

.main div {
    width: 49%;
    padding: 0 2rem;
}

.main img {
    width: 450px;
    height: 420px;
    margin-left: 3rem;
    overflow: visible !important;
}

.main p {
    padding-top: 1rem;
}

.box {
    height: 530px;
}

.box .boxes {
    margin: 4rem 7rem;
    display: flex;
    justify-content: space-between;
}

.box-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1));
    height: 100%;
}

.box-overlay div {
    padding-top: 12rem;
}

.box-overlay p {
    margin-top: 1rem;
    color: white;
    text-align: center;
}

.first-box {
    overflow: hidden;
    width: 250px;
    height: 310px;
    border-radius: 1rem;
    background: url("../images/comfort.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-box {
    overflow: hidden;
    width: 250px;
    height: 310px;
    border-radius: 1rem;
    background: url("../images/peace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.third-box {
    overflow: hidden;
    width: 250px;
    height: 310px;
    border-radius: 1rem;
    background: url("../images/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    height: 390px;
    display: flex;
}

.footer h2 {
    margin: 2rem 0;
}

.footer img {
    height: 390px;
    width: 130%;
    margin-left: -4rem;
}

.footer div {
    width: 49%;
    text-align: center;
}

.footer input,
.footer textarea {
    display: block;
    margin: 0.8rem auto;
    width: 260px;
}

.button {
    background-color: #420C14;
    border-radius: 0.5rem;
    color: #FDE6D8;
}

.contact {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-bottom: 3rem;
    margin: 0 auto;
}

.contact h4 {
    color: #420C14;
    font-variant: small-caps;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
}

.contact p {
    padding-bottom: 0.3rem;
}

.about {
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 1rem;
    text-align: justify;
}

.about:last-of-type {
    padding-bottom: 3rem;
}

span {
    font-weight: 700;
}

.emphasis {
    font-style: italic;
}

.desktop {
    text-align: center;
    margin-bottom: 2rem;
}

.desktop img {
    width: 40vw;
    border-radius: 1rem;
}

.mobile {
    text-align: center;
    margin-bottom: 2rem;
    display: none;
}

.mobile img {
    width: 75vw;
}

.google-map {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.map {
    position: relative;
    width: 30vw;
    height: 30vh;
}

.gg-pin {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid #e65100;
    margin-top: -4px
}
.gg-pin::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #e65100;
    top: 3px;
    left: 3px;
    border-radius: 40px
}

ul.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    list-style: none;
    margin: 4rem;
    padding: 0;
  }
  
  ul.images > li {
    position: relative;
    padding-top: 66%;
  }
  
  ul.images > li img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  /* Image Plugin Css */
  .gatsby-image-wrapper {
      overflow: visible;
  }

  /* Responsive */
  @media (min-width: 1600px) {
    body {
        width: 80%;
        margin: 0 auto;
    }
}

  @media (max-width: 600px) {
      body {
          width: 100%;
      }

      .container {
          margin: 0;
      }

      .nav-links, .border, .banner {
          border-radius: 0;
      }

      .nav-links {
          padding: 0;
          border: 0;
      }

      .nav-link-item {
          display: none;
      }

      .dropdown {
          display: inline-block !important;
      }

      .main {
          padding: 0;
          flex-direction: column;
          height: unset;
      }

      .main div {
          width: 100%;
      }

      .main img {
          width: 90%;
          margin: 1.4rem auto;
      }

      .padding {
          padding: 0;
      }

      .box {
          height: unset;
      }

      .boxes {
          flex-direction: column;
          margin: 0 auto !important;
      }
      
      .first-box, .second-box, .third-box {
          width: unset;
          height: unset;
          margin: 1rem 2rem;
          border-radius: 0;
      }

      .box-overlay div {
          padding-bottom: 2rem;
      }

      .footer {
          height: unset;
          flex-direction: column;
      }

      .footer div {
          width: unset;
      }

      .footer > div {
          margin-inline: 2rem;
      }

      .footer img {
          height: 100%;
          width: unset;
          margin-left: 0;
      }

      .footer h2 {
          margin: 0;
      }

      .footer form {
          margin-bottom: 2rem;
      }

      .about-page .padding {
          padding: 2rem 0;
      }

      .gallery-page .padding {
          padding: 2rem 0;
      }

      .desktop {
          display: none;
      }

      .mobile {
          display: block;
      }

      ul.images > li img {
          border-radius: 0;
      }

      .contact {
          display: block;
          padding: 0;
      }

      .contact div {
          margin: 2rem auto;
      }

      .contact-page .padding {
          padding-top: 2rem;
      }

      .map {
          width: 70vw;
      }
      
  }


  /* Dropdown Menu */
  .dropbtn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #420C14;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 600;
    padding: 1rem;
    min-width: 50vw;
  }

  .dropbtn-true {
    background-color: #dd995e;
    border: none;
    font-size: 1rem;
    color: #420C14;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 600;
    padding: 1rem;
    min-width: 50vw;
  }
  
  .dropdown {
    position: relative;
    display: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dd995e;
    min-width: 50vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    right: -14rem;
    text-align: center;
  }

  @keyframes move {
      from {right: -14rem;}
      to {right: 0;}
  }

  .dropdown-content-true {
    display: block;
    position: absolute;
    background-color: #dd995e;
    min-width: 50vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    text-align: center;
    animation: move .2s;
  }

  .dropdown-content-true a {
    color: #420C14;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 600;
    padding: 12px 16px;
    display: block;
  }
  
  /* .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #dd995e;
  } */